<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component</title>
</head>

<body>
  <!-- 親コンポ−ネント -->
  <div id="app">
    <comp-child>
      <template v-slot:header>
        headerのスロット
      </template>
      <template v-slot:footer>
        Hello!!フッター
      </template>
      通常のslot
    </comp-child>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script>
    // 子コンポーネント
    Vue.component('comp-child', {
      template: `<div>
          <slot name="footer">空でした</slot>
          <div><slot name="header">空でした</slot></div>
          <slot>空です</slot>
          </div>`,

      components: {

      },

      methods: {

      },
    }),

      new Vue({
        el: "#app",

        data: {
          header: "aa"
        },

        methods: {

        }
      });
  </script>
</body>

</html>
